@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
    --yellow: #F1A600;
    --veryDarkBlue: #1F1D2C;
    --darkBlue: #242635;
    --darkGrey: #c1bcbc;
    --white: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--veryDarkBlue);
    color: var(--white);
}

/*--------------------- REUTILIZABLE */

img {
    display: block;
    width: 100%;
}

.desktop {
    display: none;
}

/* .main__container {
    max-width: 80%;
    margin: auto;
} */


/*--------------------- HEADER */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    width: 100%;
    max-width: 1300px;
    margin: auto;
}

header svg {
    cursor: pointer;
    position: relative;
}

header .desktop {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    gap: .5rem;
    background: var(--darkBlue);
    width: 100%;
    height: 50%;
    padding: 1rem;

    position: absolute;
    top: -100%;
    right: 0;
    transition: .2s;
}

header .show__menu {
    top: 50px;
}

header .desktop a {
    text-decoration: none;
    color: var(--white);
}

.vector__header {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

/*--------------------- HERO */

.main__container {
    display: grid;
    gap: 2rem;
    padding: 2rem;
    max-width: 1300px;
    margin: auto;
}

.main__text {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 1rem;
}

.main__text h1 {
    font-size: 3rem;
}

.main__text p {
    margin: .5rem 0;
}

.main__text img {
    width: 190px;
    margin: auto;
}

.main__text p span {
    color: var(--yellow);
}

.main__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.main__icons svg {
    cursor: pointer;

    transition: transform .2s;
}

.main__icons svg:hover {
    transform: scale(1.3);
}

/*--------------------- ABOUT ME */

.about_me {
    background: var(--darkBlue);
    padding: 2rem 1rem;
}

.about_me__container {
    display: grid;
    gap: 2rem;
    max-width: 1100px;
    margin: auto;
}

.about_me__container h3 {
    font-size: 2rem;
}

.about_me__container p {
    color: var(--darkGrey);
    margin-bottom: 2rem;
}

.about_me__icons {
    display: grid;
    gap: 4rem;
}

.about_me__icon {
    display: grid;
    gap: .2rem;
}

.about_me__icon img {
    width: 90px;
    margin: auto;
}

.about_me__icon span {
    font-weight: 600;
}

.about_me__icon p {
    color: var(--darkGrey);
    font-size: .8rem;
}

/*--------------------- EXPERIENCE */

.experience {
    padding: 4rem 2rem;
}

.experience__container {
    display: grid;
    gap: 2rem;
    max-width: 600px;
    margin: auto;
}

.experience__container h3 {
    font-size: 2rem;
}

.experience__contents {
    display: grid;
    gap: 4rem;
}

.experience__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experience__box svg {
    width: 56px;
}

.experience__box span {
    font-size: 1.12rem;
    font-weight: 600;
}

.experience__box__text {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    gap: .3rem;
}

.experience__box__text h3 {
    font-size: 1.2rem;
}

.experience__box__text span {
    font-size: .8rem;
    color: var(--darkGrey);
    font-weight: 400;
}

.experience__box__text p {
    font-size: .7rem;
    color: var(--darkGrey);
}

/*--------------------- MY SKILLS */

.skills {
    padding: 3rem 2rem;
    background: linear-gradient(90deg, var(--darkBlue) 70%, var(--veryDarkBlue) 30%);
}


.skills__container {
    display: grid;
    gap: 1rem;
    max-width: 1000px;
    margin: auto;
}

.skills__container h3 {
    font-size: 2rem;
}

.skills__contents {
    display: grid;
    gap: 2rem;
}

.skills__contents__box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.skills__contents__box span {
    color: var(--yellow);
    font-size: 2rem;
    font-weight: 600;
}

.skills__contents__box p {
    text-align: left;
}

/*--------------------- PORTAFOLIO */

.portafolio {
    padding: 3rem 2rem;
}

.portafolio__container {
    display: grid;
    gap: 2rem;
    max-width: 1200px;
    margin: auto;
}

.portafolio__container h3 {
    font-size: 2rem;
}

.portafolio__img {
    display: grid;
    gap: 5rem;
}

/*--------------------- CONTACT */

.contact {
    background: var(--darkBlue);
    padding: 3rem;
}

.contact__container {
    display: grid;
    gap: 1.5rem;
    max-width: 600px;
    margin: auto;
}

.contact__container h3 {
    font-size: 2rem;
}

.conact__contents {
    display: grid;
    gap: 1.5rem;
}

.contact__contents__box {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: .3rem;
}

.contact__contents__box svg {
    margin-bottom: 1.5rem;
}

.contact__contents__box p {
    color: var(--darkGrey);
    font-size: .8rem;
}

/*--------------------- FOOTER */


footer {
    background: var(--darkBlue);
    padding: 2rem;
}

footer p {
    font-size: .7rem;
    margin: auto;
    color: var(--darkGrey)
}

/*--------------------- MEDIA QUERIES */

@media (min-width:750px) {

    header .mobile {
        display: none;
    }

    header .desktop {
        width: 100%;
        position: relative;
        background: none;

        flex-flow: row wrap;
        justify-content: flex-end;
        gap: 2rem;
    }

    header .desktop a {
        transition: color .2s;
    }

    header .desktop a:hover {
        color: var(--yellow);
    }
}

@media (min-width:1024px) {

    * {
        font-size: 18px;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    header .desktop {
        gap: 4.5rem;
    }

    header .desktop a {
        font-size: 16px;
    }

    .main__container {
        grid-template-columns: 1fr 1fr;
    }

    .hero__img {
        display: flex;
        justify-content: flex-end;
    }

    .hero__img img {
        width: 500px;
    }

    .main__container {
        padding-bottom: 8rem;
    }

    .main__text {
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0 3rem;
    }

    .main__text h1 {
        font-size: 5rem;
    }

    .main__text p,
    .main__text span {
        font-size: 1.38rem;
        text-align: left;
        margin-bottom: 2rem;
    }

    .main__icons {
        gap: 4rem;
    }

    .main__icons svg {
        transform: scale(1.7);
    }

    .main__icons svg:hover {
        transform: scale(2);
    }

    .about_me__icons {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 500px;
        margin: auto;
    }

    .about_me__icons img {
        width: 120px;
    }

    .about_me__icon {
        gap: .8rem;
    }

    .experience__box__text {
        margin-right: 5rem;
        gap: .5rem;
    }

    .experience__box svg {
        width: 122px;
    }

    .experience__box>span,
    .experience__box__text h3 {
        font-size: 1.5rem;
    }

    .skills {
        background: linear-gradient(90deg, var(--darkBlue) 50%, var(--veryDarkBlue) 50%);
    }

    .skills__container {
        gap: 2rem;
    }

    .skills__contents {
        justify-content: center;
    }

    .experience__box__text span {
        font-size: 1.2rem;
    }

    .experience__box__text p {
        font-size: .9rem;
    }

    .skills__contents__box {
        gap: 5rem;
    }

    .skills__contents__box span {
        font-size: 4rem;
    }

    .skills__contents__box p {
        font-size: 1.5rem;
    }

    .portafolio__img {
        grid-template-columns: 1fr 1fr;
    }

    .contact__container {
        gap: 5rem;
    }

    .conact__contents {
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
        gap: 15rem;
        height: auto;
    }

    .contact__contents__box {
        height: auto;
        width: 200px;
        gap: 1rem;
    }

    .contact__contents__box svg {
        transform: scale(2.5);
    }

    .contact__contents__box span {
        font-size: 1.5rem;
    }

    .contact__contents__box p {
        font-size: 1rem;
    }

    footer {
        background: var(--veryDarkBlue);
        padding: 4rem;
    }

    footer p {
        font-size: 1rem;
    }
}